.Add-Product-Container{
    width:100%;
    height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Add-Product-Form{
    width:100%;
    height:50vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}